html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    font-family: 'Vollkorn', serif;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    height: 60px;
}

h2 {
    padding: 0px 0px 20px 0px;
    font-size: 30px;
    color: #022;
    text-align: center;
}

.center {
    height: 100%;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-size: 18px;
    border-width: 0 0 0 1px;
    border-style: none none none dotted;
    border-color: #ccc;
}

.me {
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

p {
    padding: 20px 0px 20px 0px;
}

.bold {
    font-weight: bold;
}

.bulleted {
    margin-left: 10%;
    margin-right: 10%;
}

li {
    padding: 3px 0px 3px 0px;
}

footer {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 2px;
}

.photos {
    height: 0;
    width: 0;
}

.contact {
    display: inline;
}

.caption {
    background-color: rgba(0,0,0,.7);
    font-size: 14px;
    color: white;
    padding: 10px;
    line-height: 18px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.bottom-left {
    background-image: url("http://i.imgur.com/9Q6gCH5.jpg?1");
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
    height: 200px;
    width: 300px;
    border-top-right-radius: 2px;
}

.top-right {
    background-image: url("http://i.imgur.com/4uWYSDn.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    height: 100px;
    width: 100px;
    right: 0;
    top: 0;
    margin: 0;
    border-bottom-left-radius: 2px;
}

@media (max-width: 1200px) {
    .bottom-left {
        position: relative;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    .top-right {
        position: relative;
        margin: 0 auto;
    }
}
